.add-on-container{
    padding: 0 20px;
}

h2{
    color: #2a2a2a;
}

.subtitle{
    color: gray;
    margin-bottom: 20px;
}

.addons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addon{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.addon.selected{
    border-color: #4a90e2;
    background: #f0f8ff;
}

.addon input{
    margin-right: 15px;
}

.addon-info{
    flex: 1;
}

.price{
    font-weight: bold;
    color: #3f00d3;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.prev-button, .next-button{
    padding: 10px 20px;
    border: none;
    border: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.prev-button{
    background: none;
    color: #002D62;
    font-weight: bold;
}

.next-button{
    background-color: #002D62;
    color: white;
}

.next-button:disabled{
    background-color: lightgray;
    cursor: not-allowed;
}

.next-button:hover:not(:disabled){
    background-color: #004080;
}